*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    display: -ms-grid;
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background-color: #f2f2f2;
}

.container{
    height: 80px;
    width: 30vw;
    line-height: 80px;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px #a01c1c40;
            box-shadow: 0 10px 20px #a01c1c40;
}

.container .menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.container .menu li{
    list-style: none;
-webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 30px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.container .menu li a{
    color: #1d1f20;
    -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
}

.container .menu li:hover a{
    color: #b72bf8;
}

.container .menu li:first-child a{
    color: #b72bf8;
    font-weight: 900;
}

.container .menu .line{
    height: 5px;
    width: 20%;
    left: 0;
    position: absolute;
    background: #f23b26;
    bottom: 0;
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
}

