*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #1a1818 !important;
}

.center{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}


.circulo{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #7b28b3;
    background: transparent;
    animation: animate 1.4s linear infinite;
}

.texto{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    color: #7b28b3;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: transparent;
    box-shadow: 0 0 5px #8936c0;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}