body{
    margin: 0;
    padding: 0;
    background-color: #2c3a47;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fantasma{
    width: 140px;
    height: 160px;
    background-color: #f2f2f2;
    border-radius: 70px 70px 0 0;
    position: relative;
    cursor: pointer;
    animation: floating 2s infinite ease-in-out;
}

@keyframes floating{
    50%{
        transform: translateY(-30px)
    }

}


.cara{
    width: 100px;
    position: absolute;
    top: 60px;
    left: calc(50% - 50px);
}

.olhos{
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.olhos span{
    width: 24px;
    height: 24px;
    background-color: #2c3a47;
    border-radius: 50%;
    transition: .3s linear;
}

.fantasma:hover .olhos span{
    height: 16px;
}

.boca{
    width: 40px;
    height: 20px;
    background-color: #2c3a47;
    border-radius: 0 0 20px 20px;
    margin: auto;
    transition: .3s linear;
}

.fantasma:hover .boca {
    height: 12px;
}

.mao{
    width: 180px;
    position: absolute;
    left: -20px;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.mao span{
    width: 20px;
    height: 20px;
    background-color: #f2f2f2;
}

.mao span:first-child{
    border-radius: 20px 0 0 20px;
}

.mao span:last-child{
    border-radius: 0 20px 20px 0;
}

.pe{
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
}

.pe span{
    flex: 1;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
}

.pe span:first-child{
    border-radius: 0 0 20px 12px;
}

.pe span:last-child{
    border-radius: 0 0 20px 12px;
}

