body{
    margin: 0;
    padding: 0;
    background-color:#080000 ;
}

.container{
    text-align: center;
    margin-top: 360px;
}

.botao{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.botao1, .botao2 {
    color:#3498db;
}

.botao3, .botao4 {
    color: #fff;
}

.botao1:hover, .botao2:hover{
    color: #fff;
}

.botao3:hover, .botao4:hover{
    color: #3498db;
}

.botao::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.botao1::before,.botao3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.botao2::before, .botao4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.botao3::before,.botao4::before{
   height: 180%;
}
.botao1:hover::before,.botao2:hover::before{
    height: 180%;
}
.botao3:hover::before,.botao4:hover::before{
    height: 0%;
}